@import url('./css/style.css');

* {
  --outline: 1px solid red;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.2s ease-out;
}

#root {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 15px;

  padding: 15px;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 12px; 
  height: 12px; 
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.padded {
  padding: 15px;
}

.radius-left {
  border-radius: 15px 0 0 15px;
}

.radius-right {
  border-radius: 0 15px 15px 0;
}

.radius-full {
  border-radius: 15px;
}

.transparent {
  background-color: transparent !important;
}

.title {
  font-size: x-large;
  font-weight: bold;
}

.circular {
  border-radius: 50%;
}

.center-full {
  justify-self: center;
  align-self: center;
}

.center-x {
  justify-self: center;
}

.center-y {
  align-self: center;
}

.bottom {
  align-self: flex-end;
}

.no-border {
  border: none;
}

.scrollable-y {
  overflow-y: auto;
  overflow-x: hidden;
}

.screen-overlay {
  width: 100vw;
  height: 100vh;
}